body {
	background: $color-background;
	margin:0;
}

header,
.container,
footer {
	width:88%;
	max-width: $container-width;
	margin:0 auto;
}

h1{
	margin: 0 auto;
	text-align: center;
	color: $color-link;
}

.wrapper {
	padding:1em 0;
	background: $color-background-container;
}

img {
	max-width: 100%;
	height: auto;
}